body {
  background-color: #F1F2F2;
  color: #313742  ;
  font-family: sans-serif;

  p {
    font-size: 0.75rem;
  }

  a {
    color: #ff0000;
  }
}

.center {
  text-align: center;
}

.expandButton {
   display: inline-block;
   position: relative;
   width: 32px;
   height: 32px;
   line-height: 32px;
   font-size: 0.9em;
   background-color: #4DD0E1;
   color: #ffffff;
   float: right;
   /* outline-color: #313742;
   outline-width: 1px;
   outline-style: solid; */
   transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   transition-delay: 0.2s;
   border-radius: 15px;
}

.hidden {
  display: none;
}

.previewBoxLeft {
width: 80%
}

.taskDescription {
  font-size: 1.25rem;
  display: block;
  width: 100%;
  font-family: serif;
  margin: 15px 0px 0px 0px;
  /* background-color: red; */
}

.taskDueDate {
  font-size: 1.00rem;
  display: block;
  width: 100%;
  /* background-color: blue; */
}

.taskPreviewBox {
  float: none;
  margin: 5px auto 5px auto;
  background-color: #FFFFFF;
  color: #313742  ;
  padding:10px;
  outline-color: #313742;
  outline-width: 1px;
  outline-style: solid;
  width: 66%;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40);
}

.taskProject {
  font-size: 1.00rem;
  margin: 0px 0px 15px 0px;
  /* background: yellow; */
}

.taskTitle {
  font-size: 1.75rem;
  /* background-color: brown; */

}

.taskStartDate {
  font-size: 1.00rem;
  display: block;
  width: 100%;
  /* background-color: pink; */
}
