body {
  background-color: #F1F2F2;
  color: #313742  ;
  font-family: sans-serif;
}

p {
  font-size: 0.75rem;
}

.center {
  text-align: center;
}

.taskPreviewBox {
  background-color: #FFFFFF;
  color: #313742  ;
  padding:10px;
  outline-color: #313742;
  outline-width: 1px;
  outline-style: solid;
  width: 90%;
  margin: 10px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.40);
}

.taskTitle {
  font-size: 1.25rem;

}

.taskProject {
  font-size: 0.75rem;
  margin: 0px 0px 15px 0px;
}

.taskStartDate {
  font-size: 0.75rem;
  display: block;
  width: 100%;
}

.taskDueDate {
  font-size: 0.75rem;
  display: block;
  width: 100%;
}

.taskDescription {
  font-size: 0.75rem;
  display: block;
  width: 100%;
  background-color: red;
}

.hidden {
  /* */
}

.visible {
  /* */
}

.expandButton {
   display: inline-block;
   position: relative;
   width: 120px;
   height: 32px;
   line-height: 32px;
   border-radius: 2px;
   font-size: 0.9em;
   background-color: #0f9d58;
   color: #fff;
   float: right;
}

.previewBoxTopLeft {

}

.previewBoxTopRight {

}
